@import "tailwindcss";

@theme {
  --color-primary: rgb(0, 187, 212);
  --color-primary-opacity: rgb(0, 187, 212, 0.48);
  --color-celeste-hielo: rgb(232 247 250);
  --color-celeste-pastel: rgb(233 247 248);
  --color-blanco-hueso: rgb(253 253 253);
  --color-blanco-nieve: rgb(254 254 254);
  --color-blanco-perla: rgb(252 252 252);
  --color-blanco-algodon: rgb(251 251 251);
  --color-gris-humo: rgb(249 249 249);
  --color-gris-plata: rgb(242 242 242);
  --color-gris-nube: rgb(233 233 233);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}